$primary:#546E7A;
$dark:#3f535c;
$light:#92a9b4;
$white:#fff;
$black: #000;
$neon: 'Neue Haas Grotesk Display Pro 55 Roman';
$orpheus: 'Orpheus';
$playfair: 'Playfair Display',
serif;
$open-sans:'Open Sans',
sans-serif;
$poppins: 'Poppins',
sans-serif;